<div class="container">
  <h1>
    {{title}}
  </h1>
  <ul>
    <div *ngFor="let currentRecipe of recipes">
      <dt>{{currentRecipe.title}}</dt><button (click)="selectRecipe(currentRecipe)">Show!</button>
    </div>
  </ul>


  <div *ngIf="selectedRecipe">
    <h3>{{selectedRecipe.title}}</h3>
    <ul>
      <li *ngFor="let ingredient of selectedRecipe.ingredients; index as ingredientIndex">
        {{ingredient.amount}} , {{ingredient.name}}
      </li>
    </ul>
    <p>{{selectedRecipe.directions}}</p>
    <button (click)="editRecipe">Change Recipe</button>
  </div>

  <div *ngIf="selectedRecipe">
    <label for="">Edit Title: </label>
    <br>
    <input [(ngModel)]="selectedRecipe.title">
    <ol>
      <li *ngFor="let ingredient of selectedRecipe.ingredients; index as ingredientIndex">
        <input [(ngModel)]="selectedRecipe.ingredients[ingredientIndex].name">
        <input [(ngModel)]="selectedRecipe.ingredients[ingredientIndex].amount">
      </li>
    </ol>
    <input [(ngModel)]="selectedRecipe.directions">
    <br>
    <button (click)="finishedEditingRecipe()">Done Editing Recipe</button>
  </div>

</div>
